*.o
/zterp
/bocfel
/bocfel.html

.*.swp
.ccls-cache
.clangd
.gdb_history
.kdev4
*.kdev4
compile_commands.json

/cheapglk
/glkterm
/glktermw
/nanoglk
/qglk
/remglk
/xglk

*.z?
*.blb
*.blorb
*.?blorb
*.glksave
*.inf
*.sav
